
label { display:none !important; }

.selector, .radio, .coupon-text, #Cash_Cards .paddingT10 label, .contactNoDD li label { display:block !important; }

.icon { clear: none; margin: -8px 0 0 -50px; padding: 4px 0 0 20px; width: 250px; }

.radio-list li input { float:left; }
